body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}
    .entete{
        text-align: center;
        width: 100%;
        height: 20vh;
        font-size: 65px;
        font-weight: bold;
        color: #010b9e;
    }
    .opti{
        margin-top: 5vh;
        margin-left: 30vw;
        margin-bottom: 5vh;
        gap: 1.5vh;
    }
    .txt{
        font-family: cursive;
    }
    .chx{
        display: flex;
        align-items: center;
        gap: 1vw;
    }

    .icone{
        height: 5vh;
        margin-top: -3vh;
        width: 2vw;
    }




form{
        display: flex;
        flex-direction: column;
        padding: 15px;
        border-radius: 5px;
        border: 1px solid rgb(3, 6, 214);
        width: 50%;
        margin-left: 25%;
    }
    .titrf{
        width: 80%;
        margin-left: 10%;
        text-align: center;
        font-size: 25px;
        font-family: cursive;
        font-weight: bold;
        color: #000c79;
    }
    label{
        font-size: 18px;
        margin-top: 2vh;
        margin-bottom: 1vh;
        font-family: cursive;
        font-weight: bold;
        color: #020494;
    }
    input{
        padding: 10px;
        border-radius: 3px;
        border: 1px solid #001b92;
        font-size: 18px;
        font-family: 'Montserrat';
    }
    input:hover{
        transition: 0.7s;
       box-shadow: 0.5px 0.5px 5px 1px #0c01a0;
    }
    .tes{
        margin-bottom: 7vh;
        height: 13vh;
    }

    .bout{
        font-size: 19px;
        font-family: cursive;
        font-weight: bold;
    }
    .bout:hover{
        transition: 0.7s;
        background-color: #020079;
        color: white;
        box-shadow: none;
        border: none;
    }
