    header{
        width:100%;
        display: flex;
        background-color: rgb(0, 165, 0);
        
        
    }
    .logo{
        width: 6vw;
        height: 11vh;
        margin-left: 2vw;
        margin: 5px;
    }
    nav{
        text-align: center;
        margin-left:15vw;
        margin-top: 4vh;
        flex-wrap: wrap;
    }
    #nav{
        display: flex;
    }
    .dropdown-menu  {
        font-family: 'Montserrat';
    }
    .dropdown  {
        font-family:'Montserrat';
        font-weight: bold;
        color: #ffffff;
    }
    .menuUl{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        list-style: none;
        display: flex;   
        flex-wrap: wrap;
    }
    nav a {
        flex: 1 0 4px;
        position: relative;
        text-decoration: none;
    
        font-size: 16px;
        font-family:'Montserrat';
        font-weight: bold;
        color: #f7f7f7;
    }
    nav a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px; 
        width: 0%;
        height: 2px;
        background: #ffffff;
        transition: width 0.3s;
    }
    nav a:hover::after {
        color: white;
        width: 100%;
    }
    nav a.active::after {
        color: white;
        width: 100%;
    }
    nav a.active{
        color: white;
    }

    .deroulUl {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
      
    }
    .deroula {
        font-size: 13px;
        margin-top: 2vh;
        color: rgb(83, 83, 83);
    }
    .deroula:hover {
        margin-top: 2vh;
        color: rgb(34, 175, 21);
        transition: 0.8s;
    }
    nav ul li:hover ul li ::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px; 
        width: 0%;
        height: 2px;
        background: #85f35a;
        transition: width 0.8s;
    }
    .deroula:hover::after {
        width: 100%;
    }
    /* Affiche le menu au survol */
    nav ul li:hover:hover ul {
        display: block;
        gap: 2vh;
        transition:  0.5s;
    }

    .btn {
        color: #ffffff;
    }
    .div1{
        margin-left: 1vw;
        width: 12%;
        display: flex;
        flex-direction: column;
    }
    .p01{
        margin-top: 1.5vh;
        font-weight: bold;
        color: rgb(255, 255, 255);
        font-size: 13px;
        font-family: "Montserrat";
        margin-bottom: 0;
    }
    .img01{
        margin-top: 0;
        width: 90%;
        height: 2vh;

    }
    .marquee01{
        color: white;
    }
    .close{
        display: none;
    }
    .menub{
        display: none;
    }
    #menub{
        display: none;
    }





footer{
    background-color: rgb(13, 8, 31);
    width: 100%;
    font-family: 'Montserrat';
    color: white;
    padding-top: 5vh;
    margin-top: 30vh;
}
.sectionFooter{
    display: flex;
    gap: 3vw;
    margin-top: 2vh;
}
.ft1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    margin-left: 2vw;
    margin-top: 3vh;
}
.descriptfooter{
    font-size: 13px;
    text-align: center;
}
.logofooter{
    width: 5vw;
    height: 10vh;
}
.h44{
    margin-top: 1vh;
    font-size: 18px;
    font-weight: bold;
}
.ft2{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.bob{
    height: 5vh;
    width: 2.5vw;
    color: rgb(24, 3, 219);
    padding: 0px;
    background-color: transparent;
}
.bobb{
    height: 5vh;
    width: 2.5vw;
    color: rgb(29, 143, 0);
    padding: 0px;
    background-color: transparent;
}
.des{
    font-size: 15px;
}
.linkfoot{
    margin-left: 2vw;
    font-weight: 100;
    color: rgb(240, 240, 240);
    text-decoration: none;
}
.linkfoot:hover{
    transition: all 0.6s ease;
   color: rgb(1, 18, 253);
}
.ft3{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.ulfoot{
    display: flex;
    flex-direction: column;
    margin-left: -3vw;
    margin-top: 1vh;
    gap: 5px;
}
.ulfoot li {
    list-style: none;
}
.ft03{
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    gap: 2vh;
    margin-top: 1vh;
}

.ft04{
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;

}
.ft4{
    display: flex;
    flex-direction: column;
}

h3{
    text-align: center;
    font-size: 22px;
    color: rgb(26, 216, 1);
}


.divfooter{
    background-color: rgb(3, 0, 24);
    height: 6vh;
    margin: 0;
    color: white;   
}
.copyright{
    font-weight: 100;
    text-align: center;
    margin-top: 1vh;
}

.chx{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.conte{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    padding: 5px;
    gap: 1vw;
}

























@media screen and (max-width:600px){
    header{
        width:100%;
        display: flex;
        background-color: rgb(0, 165, 0);
        position: absolute;
        top: 0;
        right: 0;
        
    }
    .logo{
        width: 20vw;
        height: 9.5vh;
        margin-left: 2vw;
        margin: 5px;
    }
    nav{
        padding: 10px;
        height: 65vh;
        text-align: center;
        width: 100%;
        margin-left:-30vw;
        margin-top: 0vh;
        display:none;
        flex-direction: column;
        position: relative;
        z-index: 1000;
        background-color: rgb(4, 37, 0);
    }
    #nav{
        display: none;
    }
    #nav.open {
        display: block;
    }
    .dropdown-menu  {
        font-family: 'Montserrat';
    }
    .dropdown  {
        font-family:'Montserrat';
        font-weight: bold;
        color: #ffffff;
    }
    .dropdown-item:hover{
        background-color: #064400;
        color: white;
    }
    .close{
        display: block;
        margin-left: 77%;
        height: 15vh;
        width: 17vw;
        background-color: transparent;
        color: white;
    }
    #close{
        display: block;
    }
    .menub{
        display: block;
        margin-left: 10%;
        margin-top: -6vh;
        background-color: transparent;
        color: white;
    }
    header svg{
        height: 22vh;
        width: 22vw;
    }
    #menub{
        display: block;
    }
    .menuUl{
        margin-top: 4vh;
        list-style: none;
        display: flex;
        justify-content:left;
        align-items:baseline;
        gap: 3vh;
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    .dropdown button{
        font-size: 20px;
        font-family:'Montserrat';
        font-weight: bold;
        color: #f7f7f7;
        margin-left: -2.6vw;
    }
    .dropdown ul{
        margin-left: -20%;
        position: relative;
    }
    nav a {
        flex: 1 0 4px;
        position: relative;
        text-decoration: none;
        font-size: 20px;
        font-family:'Montserrat';
        font-weight: bold;
        color: #f7f7f7;
    }
    nav a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px; 
        width: 0%;
        height: 2px;
        background: #ffffff;
        transition: width 0.3s;
    }

    nav a:hover::after {
        color: white;
        width: 100%;
    }
    nav a.active::after {
        color: white;
        width: 100%;
    }
    nav a.active{
        color: white;
    }

    .deroulUl {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
      
    }
    .deroula {
        font-size: 13px;
        margin-top: 2vh;
        color: rgb(83, 83, 83);
    }
    .deroula:hover {
        margin-top: 2vh;
        color: rgb(34, 175, 21);
        transition: 0.8s;
    }
    nav ul li:hover ul li ::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px; 
        width: 0%;
        height: 2px;
        background: #85f35a;
        transition: width 0.8s;
    }
    .deroula:hover::after {
        width: 100%;
    }
    /* Affiche le menu au survol */
    nav ul li:hover:hover ul {
        display: block;
        gap: 2vh;
        transition:  0.5s;
    }

    .btn {
        color: #ffffff;
    }
    .div1{
        margin-left: 1vw;
        width: 60%;
        display: flex;
        flex-direction: column;
    }
    .p01{
        margin-top: 1.5vh;
        font-weight: bold;
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-family: "Montserrat";
        margin-bottom: 0;
    }
    .img01{
        margin-top: 0;
        width: 100%;
        height: 2.5vh;

    }
    .marquee01{
        color: white;
        font-size: 18px;
    }







footer{
    background-color: rgb(13, 8, 31);
    width: 100%;
    font-family: 'Montserrat';
    color: white;
    padding-top: 5vh;
    margin-top: 30vh;
}
.sectionFooter{
    display: flex;
    flex-direction: column;
    gap: 3vw;
    margin-top: 2vh;
}
.ft1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 3vh;
}
.descriptfooter{
    font-size: 13px;
    width: 70%;
    text-align: center;
}
.logofooter{
    width: 20%;
    height: 10vh;
    margin-bottom: 2vh;
}
.h44{
    margin-top: 1vh;
    font-size: 22px;
    margin-left: 2vw;
    font-weight: bold;
}
.ft2{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.bob{
    height: 15vh;
    width: 8vw;
    color: rgb(24, 3, 219);
    padding: 0px;
    background-color: transparent;
}
.bobb{
    height: 5vh;
    width: 2.5vw;
    font-size: 35px;
    color: rgb(29, 143, 0);
    padding: 0px;
    background-color: transparent;
}
.des{
    font-size: 18px; 
    margin-left: 2vw;
}
.linkfoot{
    margin-left: 2vw;
    font-weight: 100;
    color: rgb(240, 240, 240);
    text-decoration: none;
}
.linkfoot:hover{
    transition: all 0.6s ease;
   color: rgb(1, 18, 253);
}
.ft3{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.ulfoot{
    display: flex;
    flex-direction: column;
    margin-left: -3vw;
    margin-top: 1vh;
    gap: 5px;
}
.ulfoot li {
    list-style: none;
}
.ft03{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
    margin-left: 2vw;
    margin-top: 0vh;
}

.ft04{
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 2vw;
}
.ft4{
    display: flex;
    flex-direction: column;
}

h3{
    text-align: center;
    font-size: 22px;
    color: rgb(26, 216, 1);
}


.divfooter{
    background-color: rgb(3, 0, 24);
    height: 6vh;
    margin: 0;
    color: white;   
}
.copyright{
    font-weight: 100;
    text-align: center;
    margin-top: 1vh;
}

.chx{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.conte{
    display: flex;
    margin-left: 1vw;
    padding: 5px;
    gap: 2vw;
}


}