header{
    display: flex;
    align-items: center;
    height: 8vh;
    background-color: rgb(6, 175, 0);
    margin: 0;
    width: 100%;
    border-bottom: rgb(6, 175, 0);
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
}
.menuAF{
    display: none;
}
img{
    height: 7vh;
    width: 4vw;
    margin-left: 3vw;
}
ul{
    display: flex;
    gap: 2.2vw;
    margin-left: 31vw;
}
li{
    list-style: none;
}
.option{
    font-family: 'Montserrat';
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    position: relative;
    padding: 3px;
}
nav a::after{
    content:'';
    position: absolute;
    left: 0;
    width: 0%;
    height: 2px;
    bottom: -1px;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
}
nav a:hover::after{
    transition: all 0.3s ease;
    width: 100%;
}







footer{
    background-color: rgb(19, 17, 26);
    width: 100%;
    font-family: 'Montserrat';
    color: white;
    padding: 0px;

}
.sectionFooter{
    display: flex;
    gap: 3vw;
    margin-top: 2vh;
}
.ft1{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 2vw;
    margin-top: 3vh;
}
.logofooter{
    width: 7vw;
    height: 12vh;
}
.ft2{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.linkfoot{
    margin-left: 2vw;
    font-weight: 100;
    color: rgb(240, 240, 240);
    text-decoration: none;
}
.linkfoot:hover{
    transition: all 0.6s ease;
   color: rgb(1, 18, 253);
}
.ft3{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.ulfoot{
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 1vh;
    gap: 10px;
}
.ft03{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 5px;
    margin-left: 6vw;
    gap: 3vh;
    margin-top: 2vh;
}
.icone{
    height: 2vh;
    margin-left: 0;
    padding: 3px;
    width: 1vw;
    background: white; 
    border-radius: 50%;
    transition: all 0.6s ease;
}

.ft04{
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;

}
.ft4{
    display: flex;
    flex-direction: column;
}

.iconee{
    height: 4vh;
    
    padding: 5px;
    margin-left: 0;
    width: 2vw;
    background: white; 
    border-radius: 50%;
    transition: all 0.6s ease;
}
h3{
    text-align: center;
    font-size: 22px;
    color: rgb(26, 216, 1);
}


.divfooter{
    background-color: rgb(0, 0, 15);
    height: 6vh;
    margin: 0;
    color: white;
}
.copyright{
    font-weight: 100;
    text-align: center;
    margin-top: 1vh;
}

.chx{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.icone{
    height: 6vh;
    margin-top: -3vh;
    width: 3vw;
    background: white; 
    border-radius: 50%;
    transition: all 0.6s ease;
}
.icone:hover{
    transition: all 0.6s ease;
    background: rgb(17, 0, 255); 
}
.conte{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    padding: 5px;
    gap: 1vw;
}

























@media screen and (max-width:600px){
    header{
        display: flex;
        align-items: center;
        height: 8vh;
        background-color: rgb(6, 175, 0);
        margin: 0;
        width: 100%;
        border-bottom: rgb(6, 175, 0);
        position: fixed;
        z-index: 1000;
        top: 0;
        right: 0;
    }
    .menuAF{
        display: flex;
        padding: 5px;
        font-size: 18px;
        border-radius: 5px;
        background-color: white;
        color: #007900;
        border: 1px solid rgb(21, 180, 0);
        width: auto;
        margin-left: 60%;
        height: 6vh;
    }
    .show{
        display: block;
    }
    
    img{
        height: 7vh;
        width: 12vw;
        margin-left: 3vw;
    }
    nav{
        display: none;

        opacity: 0;
        transform: translateX(20vw);
        transition: all 0.5s ease;
    
    } 
    .showX{
        opacity: 1;
        transform: translateX(0vw);
        transition: all 0.5s ease;    
    }

}