body{
    font-family: 'Montserrat';
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
}
.image-container {
    
  position: relative;
  width: 100%;
}

.image-container img {
  width: 100%;
  height: 70vh;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 37, 1, 0.582); /* couleur + transparence */
}


.lienn{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
.part{
    margin-top: -45vh;
    width: 80%;
    margin-left: 10%;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 3vh;
}
.h101{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Montserrat';
}
.intro{
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat';
}
strong{
    color: rgb(14, 172, 0);
}
.btnn{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    width: 20%;
    padding: 8px;
    margin-top: 1vh;
    margin-left: 0%;
    transition: all 0.5s ease;
    color: white;
    text-decoration: none;
    font-size: 17px;
    gap: 1vw;
    font-family: 'montserrat';
}
.btnn:hover{
    transition: all 0.5s ease;
    background-color: black;
}
.icon{
    height: 5vh;
    width: 6vw;
    margin-left: 0;
}
.txt{
    font-family: cursive;
    font-size: 18px;
    padding: 20px;
    background-color: #f9faff;
    border-radius: 8px;
    border-left: 5px solid rgb(1, 20, 197);
    margin-top: 6vh;
    margin-bottom: 10vh;
    margin-left:15% ;
    width: 70%;
}
h2{
    font-size: 40px;
    width: 40%;
    margin-left: 30%;
    text-align: center;
    color: rgb(9, 224, 2);
    font-family: cursive;
    
}
.partners{
    width: 80%;
    margin-top: 15vh;
    margin-left: 10%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5vw;
    padding: 20px;
    
}
.img112{
    height: 19vh;
    width: 9vw;
    border-radius: 50%;
    background-color: #818181;
}
.div112{
    width: 23%;
    border-radius: 8px;
    padding: 18px;
    font-family: 'montserrat';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0.1px 0.1px 2px 0.3px rgb(129, 129, 129);
}
.div112 h4{
    font-weight: bold;
    font-size: 20px;
    color: #002002;
}
.div112 p {
    font-size: 13px;
    color: #585858;
    text-align: center;
}
.btn112{
    background-color: #002002;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px;
    transition: all 0.5s ease;
}
.btn112:hover{
    transition: all 0.3s ease;
    background-color: white ;
    color: #003304;
    border: 1px solid #015306;
    border-radius: 5px;
    padding: 8px;
}
.btnn1{
    background-color: rgb(12, 139, 0);
    border: 1px solid rgb(12, 139, 0);
    border-radius: 15px;
    text-align: center;
    width: 20%;
    padding: 10px;
    margin-top: 1vh;
    margin-left: 40%;
    transition: all 0.5s ease;
    color: white;
    text-decoration: none;
    font-size: 20px;
    gap: 1vw;
    font-family: 'montserrat';
    margin-bottom: 2vh;
}
.btnn1:hover{
    transition: all 0.5s ease;
    background-color: rgb(47, 216, 31)
}

















@media screen and (max-width:600px){

 body{
    font-family: 'Montserrat';
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
}
.image-container {
    margin-top: 13vh;
  position: relative;
  width: 100%;
}

.image-container img {
  width: 100%;
  height: 70vh;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 37, 1, 0.582); /* couleur + transparence */
}


.lienn{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
.part{
    margin-top: -60vh;
    width: 90%;
    margin-left: 5%;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 3vh;
}
.h101{
    width: 70%;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Montserrat';
}
.intro{
    font-size: 16px;
    text-align: center;
    font-family: 'Montserrat';
}
strong{
    color: rgb(14, 172, 0);
}
.btnn{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    padding: 8px;
    margin-top: 3vh;
    margin-left: 0%;
    transition: all 0.5s ease;
    color: white;
    text-decoration: none;
    font-size: 14px;
    gap: 1vw;
    font-family: 'montserrat';
}
.btnn:hover{
    transition: all 0.5s ease;
    background-color: black;
}
.icon{
    height: 5vh;
    width: 6vw;
    margin-left: 0;
}
.txt{
    font-family: cursive;
    font-size: 14px;
    padding: 20px;
    background-color: #f9faff;
    border-radius: 8px;
    border-left: 5px solid rgb(1, 20, 197);
    margin-top: 6vh;
    margin-bottom: 10vh;
    margin-left:5% ;
    width: 90%;
}
h2{
    font-size: 40px;
    width: 40%;
    margin-left: 30%;
    text-align: center;
    color: rgb(9, 224, 2);
    font-family: cursive;
    
}
.partners{
    width: 90%;
    margin-top: 10vh;
    margin-left: 5%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5vw;
    padding: 20px;
    
}
.img112{
    height: 12vh;
    width: 23vw;
    border-radius: 50%;
    background-color: #818181;
}
.div112{
    width: 45%;
    margin-bottom: 2vh;
    border-radius: 8px;
    padding: 10px;
    font-family: 'montserrat';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0.1px 0.1px 2px 0.3px rgb(129, 129, 129);
}
.div112 h4{
    font-weight: bold;
    font-size: 14px;
    color: #002002;
}
.div112 p {
    font-size: 11px;
    color: #585858;
    text-align: center;
}
.btn112{
    background-color: #002002;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    padding: 5px;
    transition: all 0.5s ease;
}
.btn112:hover{
    transition: all 0.3s ease;
    background-color: white ;
    color: #003304;
    border: 1px solid #015306;
    border-radius: 5px;
    padding: 8px;
}
.btnn1{
    background-color: rgb(12, 139, 0);
    border: 1px solid rgb(12, 139, 0);
    border-radius: 15px;
    text-align: center;
    width: 60%;
    padding: 10px;
    margin-top: 1vh;
    margin-left: 25%;
    transition: all 0.5s ease;
    color: white;
    text-decoration: none;
    font-size: 15px;
    gap: 1vw;
    font-family: 'montserrat';
    margin-bottom: 2vh;
}
.btnn1:hover{
    transition: all 0.5s ease;
    background-color: rgb(47, 216, 31)
}

}