body{
    font-family: 'Montserrat';
    padding: 0;
    margin: 0;
    background-color: #ebebeb;
}
.image-container {
  position: relative;
  width: 100%;
}

.image-container img {
  width: 100%;
  height: 70vh;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  background-color: rgba(7, 87, 0, 0.411); /* couleur + transparence */
}
.pp12{
    margin-top: 1vh;
    position: relative;
    width: 70%;
    margin-left: 15%;
    text-align: center;
    color: #ffffff;
    font-family: 'montserrat';
    font-size: 18px;
    font-weight: 500;
}
.clsp{
    margin-top: 45vh;
    width: 70%;
    margin-left: 15%;
    text-align: center;
    color: #020fc9;
    font-family: 'montserrat';
    font-size: 20px;
    font-weight: 500;
}
.hre1{
    margin-top: -57vh;
    position: relative;
    color: #48ff00;
    text-align: center;
    font-family: 'montserrat';
}

.produit{
    margin-top: 0vh;
    background-color: #ffffff;
    padding: 30px;
    
}
.conten{
    margin-top: 15vh;
    display: flex;
    width: 80%;
    border-radius: 0px;
    box-shadow: 0px 0px 2px 0.2px rgb(129, 129, 129);
}
.conten1{
    margin-top: 15vh;
    display: flex;
    width: 80%;
    margin-left: 20%;
    border-radius: 0px;
    box-shadow: 0px 0px 2px 0.2px rgb(129, 129, 129);
}
.carousel{
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.d-block{
    height: 55vh;
}
.bck{
    width: 60%;
}
.bck1{
    width: 60%;
    padding-left: 3vw;
}
.bck h2{
    margin-top: 3vh;
}
.bck p {
    font-size: 16px;
    font-family: 'montserrat';
    margin-left: 2vw;
    color: rgb(5, 27, 1);
    width: 90%;
    
}
.cvvc{
    margin-top: 3vh;
    background-color: #37c200;
    color: white;
    padding: 8px;
    border-radius: 5px;
}
.cvvc1{
    margin-top: 3vh;
    background-color: #0104a8;
    color: white;
    padding: 8px;
    border-radius: 5px;
}
.cvvc2{
    margin-top: 3vh;
    background-color: #ffd208;
    color: white;
    padding: 8px;
    border-radius: 5px;
}
.sum1{
    color: #248000;
    font-weight: bold;
    font-family: 'montserrat';
    border-bottom: 1px solid #248000;
    width: 22%;
}
.sum11{
    color: #000280;
    font-weight: bold;
    font-family: 'montserrat';
    border-bottom: 1px solid #000280;
    width: 24%;
}
.sum12{
    color: #ffd208;
    font-weight: bold;
    font-family: 'montserrat';
    border-bottom: 1px solid #ffd208;
    width: 24%;
}
span{
    color: black;
    background-color: black;
    position: relative;
}
