
    body{
        font-family: 'Montserrat';
    }
    .btn {
        color: #df3333;
        background-color: white;
    }


    .imgbg {
        width: 100vw;
        height: 90vh;
        margin-bottom: 0;
         /* fondu */
    }
    .mega{
        font-size: 25px;
        width: 30%;
        margin-left: 35%;
        text-align: center;
        font-family: 'Montserrat';
        color: #1eaa25;
        font-weight: bold;
        margin-top: 10vh;
        margin-bottom: 30vh;
        border: 1px solid #1eaa25;
        padding: 10px;
        border-radius: 10px;
    }
    .boxx{
        display: flex;
        width: 100%;
        gap: 5%;
       
    }
    .boxx1{
        width: 40%;
        padding: 10px;
        background-color: #ffffff;
        margin-left: 5%;
        border-radius: 5px;
        box-shadow: 0.03px 0.3px 10px 0.01px rgb(80, 80, 80);
    }
    .box1{
        display: flex;
        height: 33vh;
        width: 80%;
        padding: 10px;
        margin-left: 15%;
        margin-top: 5vh;
    }
    .iconee{
        height: 12vh;
        width: 6vw;
        padding: 10px;
        border: 1px solid rgba(219, 219, 219, 0.884);
        border-radius: 3px;
        margin-left: -10vw;
        margin-top: 6.5vh;
        position:absolute;
        background-color: #ffffff;
    }
    .flx{
        display: flex;
        flex-direction: column;
    }
    h4{
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }
    h1{
        font-family: cursive;
        width: 30%;
        font-size: 40px;
        margin-left: 35%;
        margin-top: 15vh;
        color: #00a508;
        text-align: center;
    }
    .txt{
        font-family: cursive;
        font-size: 18px;
        padding: 20px;
        background-color: #f0f5ff;
        border-radius: 8px;
        border-left: 5px solid rgb(0, 4, 219);
        margin-top: 6vh;
        margin-bottom: 10vh;
        margin-left:15% ;
        width: 70%;
    }
    .parag{
        margin: 5px;
    }
    .fa-solid{
        padding: 20px;
        border-radius: 50%;
        border: 1px solid black;
        background-color: rgb(255, 255, 255);
        position: absolute;
        margin-top: -32vh;
    }

















    @media screen and (max-width:600px){





    .menuAF{
        padding: 5px;
        font-size: 18px;
        border-radius: 5px;
        background-color: transparent;
        color: #007900;
        border: 1px solid rgb(21, 180, 0);
        width: auto;
        margin-left: 28vw;
        margin-top: 4vh;
        height: 6vh;
        
    }
    .affiche{
        display: block;
    }
    .cache{
        display: none;
    }
    nav{
        width: 80%;
        display: flex;
        flex-direction: column;
        background-color: #e7e7e7;
        padding: 10px;
        position:fixed;
        font-size: 25px;
        right: 0.5%;
        top: 5.8%;
        padding-top: 8vh;
    }
    .close-btn{
        display: block;
        margin-left: 55vw;
        margin-top: -6vh;
        text-align: center;
        height: 5.4vh;
        width: 11vw;
        position: absolute;
    }

    .dropdown  {
        font-family:'Montserrat';
        font-weight: bold;
        
        width: 100%;
        margin-top: 5px;
        color: #df3333;
        margin-left: -5vw;
    }
    .btn{
        margin-left: -44vw;
        font-size: 20px;

    }
    .menuUl{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items:baseline;
        gap: 1.5vw;
        
    }
    nav a {
        flex: 1 0 4px;
        position: relative;
        text-decoration: none;
    
        font-size: 20px;
        font-family:'Montserrat';
        font-weight: bold;
        color: #df3333;
    }
    nav a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px; 
        height: 2px;
        background: #df3333;
        transition: width 0.3s;
    }

    nav a:hover::after {
        width: 100%;
    }
    nav a.active::after {
        width: 100%;
    }

    .deroulUl {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
      
    }
    .deroula {
        font-size: 13px;
        margin-top: 2vh;
        color: rgb(83, 83, 83);
    }
    .deroula:hover {
        margin-top: 2vh;
        color: rgb(34, 175, 21);
        transition: 0.8s;
    }
    nav li{
        list-style: none;
    }
    nav ul li:hover ul li ::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px; 
        height: 2px;
        background: #f35a5a;
        transition: width 0.8s;
    }
    .deroula:hover::after {
        width: 100%;
    }
    /* Affiche le menu au survol */
    nav ul li:hover:hover ul {
        display: block;
        gap: 2vh;
        transition:  0.5s;
    }























    body{
        margin: 0;
        padding: 0;
        width: 100%;
    }   
    
    body {
    opacity: 0;
    transition: opacity 1.2s ease-in-out; /* durée : 1.2s */
    }

    
    header{
        width:100%;
        display: flex;
        background-color: transparent;
        border-bottom: 1px solid #ec5353;
        
    }
    .logo{
        width: 40%;
        height: 12vh;
        margin-left: 2vw;
    }
    nav{
        text-align: center;
        margin-left:15vw;
        margin-top: 4vh;
        flex-wrap: wrap;
    }
    
    .boxx{
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 1vh;
       
    }
    .boxx1{
        width: 95%;
        padding: 10px;
        background-color: #ffffff;
        margin-left: 5%;
        border-radius: 5px;
        box-shadow: 0.03px 0.3px 10px 0.01px rgb(80, 80, 80);
    }
    .box1{
        display: flex;
        height: 33vh;
        width: 80%;
        padding: 10px;
        margin-left: 15%;
        margin-top: 0vh;
    }
    .iconee{
        height: 9vh;
        width: 15vw;
        padding: 10px;
        border: 1px solid rgba(219, 219, 219, 0.884);
        border-radius: 3px;
        margin-left: -22vw;
        margin-top: 8.5vh;
        position:absolute;
        background-color: #ffffff;
    }
    .flx{
        display: flex;
        flex-direction: column;
    }
    h4{
        text-align: center;
        font-weight: bold;
        font-size: 17px;
    }
    h1{
        font-family:'Montserrat';
        width: 50%;
        font-size: 25px;
        margin-left: 25%;
        margin-top: 0vh;
        color: #00a508;
        text-align: center;
    }
    .txt{
        font-family:'Montserrat';
        font-size: 15px;
        padding: 10px;
        background-color: #fff0f0;
        border-radius: 8px;
        border-left: 5px solid rgb(219, 0, 0);
        margin-top: 1vh;
        margin-bottom: 10vh;
        margin-left:5% ;
        width: 90%;
    }
    .parag{
        margin: 5px;
        font-size: 14px;
    }
    .fa-solid{
        padding: 15px;
        border-radius: 50%;
        border: 1px solid black;
        background-color: rgb(255, 255, 255);
        position: absolute;
        margin-top: -32vh;
    }

    }










    @media screen and (min-width: 601px) and (max-width: 1024px){
        .menuAF{
        padding: 5px;
        font-size: 18px;
        border-radius: 5px;
        background-color: transparent;
        color: #007900;
        border: 1px solid rgb(21, 180, 0);
        width: auto;
        margin-left: 40%;
        margin-top: 4vh;
        height: 6vh;
        width: 15%;
        
    }
    .affiche{
        display: block;
        opacity: 1;
        transform: translateX(0);
    }
    .cache{
        display: none;
    }
    nav{
        width: 60%;
        display: flex;
        flex-direction: column;
        background-color: #e7e7e7;
        padding: 10px;
        position:fixed;
        font-size: 25px;
        right: 0.5%;
        top: -3%;
        padding-top: 8vh;
        opacity: 0;
        transform: translateX(10vw);
        transition: all 0.8s ease;
    }
    .close-btn{
        display: block;
        margin-left: 40vw;
        margin-top: -6vh;
        text-align: center;
        height: 5.4vh;
        width: 11vw;
        position: absolute;
    }

    .dropdown  {
        font-family:'Montserrat';
        font-weight: bold;
        
        width: 100%;
        margin-top: 5px;
        color: #df3333;
        margin-left: -5vw;
    }
    .btn{
        margin-left: -44vw;
        font-size: 20px;

    }
    .phr1{
        font-size: 65px;
        font-weight: bold;
        position: absolute;
        color: rgb(124, 0, 0);
        margin-top: -35vh;
        margin-left: 4vw; 
        /*background-color: rgba(255, 255, 255, 0.527);
        padding: 10px;
        border-radius: 20px;*/
        font-family:cursive;
        position: static;
    }
    .menuUl{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items:baseline;
        gap: 1.5vw;
        
    }
    nav a {
        flex: 1 0 4px;
        position: relative;
        text-decoration: none;
    
        font-size: 20px;
        font-family:'Montserrat';
        font-weight: bold;
        color: #df3333;
    }
    nav a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px; 
        height: 2px;
        background: #df3333;
        transition: width 0.3s;
    }

    nav a:hover::after {
        width: 100%;
    }
    nav a.active::after {
        width: 100%;
    }

    .deroulUl {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
      
    }
    .deroula {
        font-size: 13px;
        margin-top: 2vh;
        color: rgb(83, 83, 83);
    }
    .deroula:hover {
        margin-top: 2vh;
        color: rgb(34, 175, 21);
        transition: 0.8s;
    }
    nav li{
        list-style: none;
    }
    nav ul li:hover ul li ::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px; 
        height: 2px;
        background: #f35a5a;
        transition: width 0.8s;
    }
    .deroula:hover::after {
        width: 100%;
    }
    /* Affiche le menu au survol */
    nav ul li:hover:hover ul {
        display: block;
        gap: 2vh;
        transition:  0.5s;
    }









    body{
        margin: 0;
        padding: 0;
        width: 100%;
    }   
    
    body {
    opacity: 0;
    transition: opacity 1.2s ease-in-out; /* durée : 1.2s */
    }

    
    header{
        width:100%;
        display: flex;
        background-color: transparent;
        border-bottom: 1px solid #adadad;
        
    }
    .logo{
        width: 40%;
        height: 12vh;
        margin-left: 2vw;
    }
    nav{
        text-align: center;
        margin-left:15vw;
        margin-top: 4vh;
        flex-wrap: wrap;
    }
    
    .boxx{
        display: flex;
        flex-direction: column;
        width: 70%;
        margin-left: 15%;
        gap: 1vh;
       
    }
    .boxx1{
        width: 95%;
        padding: 10px;
        background-color: #ffffff;
        margin-left: 5%;
        border-radius: 5px;
        box-shadow: 0.03px 0.3px 10px 0.01px rgb(80, 80, 80);
    }
    .box1{
        display: flex;
        height: 33vh;
        width: 80%;
        padding: 10px;
        margin-left: 15%;
        margin-top: 0vh;
    }
    .iconee{
        height: 9vh;
        width: 15vw;
        padding: 10px;
        border: 1px solid rgba(219, 219, 219, 0.884);
        border-radius: 3px;
        margin-left: -22vw;
        margin-top: 8.5vh;
        position:absolute;
        background-color: #ffffff;
    }
    .flx{
        display: flex;
        flex-direction: column;
    }
    h4{
        text-align: center;
        font-weight: bold;
        font-size: 25px;

    }
    h1{
        font-family: cursive;
        width: 50%;
        font-size: 35px;
        margin-left: 25%;
        margin-top: 5vh;
        color: #00a508;
        text-align: center;
    }
    .txt{
        font-family: cursive;
        font-size: 18px;
        padding: 10px;
        background-color: #fff0f0;
        border-radius: 8px;
        border-left: 5px solid rgb(219, 0, 0);
        margin-top: 1vh;
        margin-bottom: 10vh;
        margin-left:15% ;
        width: 70%;
    }
    .parag{
        margin: 5px;
        font-size: 22px;
    }
    .fa-solid{
        padding: 15px;
        border-radius: 50%;
        border: 1px solid black;
        background-color: rgb(255, 255, 255);
        position: absolute;
        margin-top: -32vh;
    }

    }